.div_carrot{
    background-color:lavander ;
    border-radius: 30px;
padding: 20px;
}
body {
    font-family: sans-serif;
}
h1{
    border-bottom:3px dashed pink;
}
h2{
    border-bottom:3px dashed pink;
}


  
